<div id="contact_image">
	<div id="contact">
		<div class="container">
			<div class="row">	
				<h2 class="white text-center fw-100 m-30">Me contacter</h2>
			<div class="row">
				<div class="col-md-6">
					<i class="fa fa-map-marker fa-contact"></i>
					<span class="text-contact-address white">17 Avenue des Perdrix 94210 La Varenne Saint Hilaire</span>
					<br>
					<i class="fa fa-phone fa-contact"></i>
					<span class="text-contact-phone white ">06 98 85 38 74</span>
					<br>
					<i class="fa fa-envelope fa-contact"></i>
					<span class="text-contact-mail white ">alcordani@gmail.com</span>	
				</div>
				<div class="col-md-6">
					<div class="cadre-contact mb-50 mt-50">
						<div class="col-md-12">
							<%= simple_form_for @contact do |f| %>
								<%= f.input :name, label: 'Votre Nom/ Prénom', placeholder: 'Votre Nom/Prénom'%>
								<%= f.input :mail, label: 'Votre mail', placeholder: 'Votre email' %>
								<%= f.input :phone, label: 'Votre téléphone', placeholder: 'Votre téléphone' %>
								<%= f.submit 'Envoyer', class:"navbar-wagon-button center" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>