<div class="container-fluid">
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h4>Immobilier</h4>
					<p><%= link_to "Prix Immobilier Saint-Maur & La Varenne", prices_path %></p>
					<p><%= link_to "Qui suis-je", agent_immobilier_path %>  -  <%= link_to "Mon CV", cv_path %></p>
					<p><%= link_to "Photo Immobilière", photo_path %></p>
				</div>
				<div class="col-md-3">
					<h4>Developper Web</h4>
					<p><%= link_to "Fleurs d'Antony", "http://www.fleursdantony.com" %>
				</div>
				<div class="col-md-3">
					<h4>Opportunity Manager</h4>
					<p><%= link_to "Consommer Equilibré", "http://www.beautysane.com/FR/?mini_site=HassinaC" %></p>
					<p><%= link_to "Prenez votre avenir en mains", "http://www.nleurope.com/FR/?mini_site=HassinaC" %></p>
				</div>
				<div class="col-md-3">
					<ul class='link-reseauxsociaux'>
						<li><a href="https://www.facebook.com/alexandre.cordani" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/cordanialexandre" target="_blank"><i class="fa fa-instagram"></i></a></li>

					</ul>
					<p class="ml-40"><%= link_to "Plan du site", pages_plandusite_path %></p>
				</div>
			</div>
			<div class="row">
				<div class="text-center">
					<p>- Alexandre Cordani - 06 98 85 38 74</p>
				</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="copyright-footer">
		<div class="mt-20 mb-20">
			<p>Copyright © 2017 AlexandreCo.</p>
		</div>
	</div>
</div>
</div>