
        <div class=""></div>
		<div class="row">
		    <% @sales.each do |sale| %>
				<div class="col-md-4">
					<% if sale.photos.present? %>
						<div class="sale-card" style="background-image: linear-gradient(135deg, rgba(150,109,105,0.2), rgba(150,109,105,0.4)), url('<%= cl_image_path sale.photos.first.path %>');">
					<% else %>
						<%= image_tag(("no-image.png"), class:"sale-card") %>
					<% end %>
						<div class="ribbon">
							<% if sale.phase == "A VENDRE" %>
								<p>A VENDRE</p>
							<% elsif sale.phase == "COMPROMIS" %>
								<p>COMPROMIS</p>
							<% elsif sale.phase == "VENDU" %>
								<p>VENDU</p>
							<% elsif sale.phase == "OFFRE EN COURS" %>
								<p>OFFRE EN COURS</p>
							<% else %>
								<p>A VENDRE</p>
							<% end %>
  							
						</div>
		       			<div class="sale-card-header mt-80">
		       				<h3><%= sale.title %></h3>
		       				<br>
		       				<p><%= sale.city %></p>
		       			</div>
		       		</div>
					<%= link_to "", sale_path(sale), class: "card-link" %>
		        </div>
		    <% end %>
		</div>
		
		<div class="mb-100"></div>
