 <div class=""></div>
		<div class="row">
		    <% @sold.each do |sale| %>
				<div class="col-md-4">
					<div class="sale-card" style="background-image: linear-gradient(135deg, rgba(150,109,105,0.2), rgba(150,109,105,0.4)), url('<%= cl_image_path sale.photos.first.path %>');">
						<div class="ribbon">
							<p>VENDU</p>
  							
						</div>
		       			<div class="sale-card-header mt-80">
		       				<h3><%= sale.title %></h3>
		       				<br>
		       				<p><%= sale.city %></p>
		       			</div>
		       		</div>
					<%= link_to "", sale_path(sale), class: "card-link" %>
		        </div>
		    <% end %>
		</div>
		<div class="mb-100"></div>
		<div class="row">
			<div class="col-md-12 text-center">
				<%= link_to "Voir toutes mes annonces", sales_path, class:"btn-sales" %>
			</div>
		</div>
		<div class="mb-100"></div>
		
