<% content_for :meta_title, "Agence Immobilière Saint Maur Des Fossés - Alexandre Cordani- Mandataire Immobilier 3G Immobilier" %>
<% content_for :meta_description, "Votre agence immobilière à Saint-Maur Des Fossés vous permettra de vendre et d'acheter rapidement grace à l'expertise d'Alexandre Cordani, mandataire immobilier au sein du reseau 3G Immobilier." %>

<div class="homepage-banner">
	<div class="homepage-banner-background"></div>
	<div class="homepage-banner-content">
		<div class="container">
    		<h1>Agence Immobilière à Saint-Maur-Des-Fossés</h1>
    		<h2>Alexandre Cordani</h2>
   			<h3>Mandataire immobilier à Saint-Maur-Des-Fossés</h3> 
   			<div class="mt-100"></div> 
   			<h2 style="color:white;"> 06 98 85 38 74 </h2>
   		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class=" col-md-5">
			<div class="mt-50"></div>
			Présentation
			<h1 style="color:#484848; font-size:30px;">AGENCE IMMOBILIERE SAINT-MAUR-DES-FOSSES</h1>
				<p style="color:#8f8e8e;">Je me présente, je m'appelle <b>Alexandre Cordani</b>, je suis <b>mandataire immobilier</b> au sein du reseau <b>3G Immobilier</b></p>
				<p style="color:#8f8e8e;">Je vous propose mes services pour <b>estimer</b>, <b>vendre</b> ou <b>acheter</b> votre appartement ou votre maison sur la commune de <b>Saint-Maur-Des-Fossés</b> et de <b>La Varenne Saint-Hilaire</b>.</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="mt-100">
		<div class="row">
			<div class=" col-md-5">
				Annonces Immobilières
				<h2 style="color:#8f8e8e; font-size:30px;" class="rowHeader">NOTRE SELECTION</h2>
				<p style="color:#8f8e8e;">Nous vous proposons une <b>selection de nos offres immobilères</b> principalement sur la commune de <b>Saint-Maur-Des-Fossés</b> et de <b>La Varenne Saint-Hilaire</b>.</p>
				<p style="color:#8f8e8e;">Si vous ne trouvez pas ce que vous recherchez dans cette selection de 'Agence Immobilière Saint-Maur-Des-Fossés- Alexandre Cordani, merci de m'appeler sur mon portable au <b>06 98 85 38 74</b> afin que je puisse prendre en considération votre demande.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<%= render 'shared/sales' %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="subtitle "></div>
		</div>
	</div>
</div>
<%= render 'shared/site' %>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="subtitle "></div>
		</div>
	</div>
</div>

<div class="container mt-100">
	<h3 class="rowHeader"> POURQUOI M'APPELER POUR VENDRE VOTRE BIEN ?</h3>
	<div class="row">
		<div class="col-md-5">
			<h4 style="color:#8f8e8e;">Je vous propose différents <b>services immobiliers</b> qui vont vous permettre de vous <b>démarquer</b> par rapport aux annonces immobilières que vous pouvez voir dans <b>d'autres agences immobilières</b>.</h4>
		</div>
	</div>
	<div class="mb-50"></div>
	<div class="row">
		<div class="col-md-6">
			<h5> <b>1- EVALUATION DE VOTRE BIEN IMMOBILIER</b></h5>
			<p style="color:#8f8e8e;"> Depuis 2001 où j'ai commencé l'immobilier sur la ville de Saint-Maur, j'ai acquis énormémént d'<b>expérience</b> dans <b>l'estimation immobilière</b> sur cette ville.</p>
			<p style="color:#8f8e8e;"> Je vous propose de venir vous voir à domicile afin de vous offrir une estimation de votre bien. Ce service est entièrement <b>GRATUIT</b>.</p>
		</div>
		<div class="col-md-6">
			<%= image_tag(("screen.png"), alt:"Agence Immobilière Saint Maur Des Fossés estime votre bien immobilier", class:"picto img-responsive center-block") %>
		</div>
	</div>
	<div class="mb-50"></div>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag(("photo-camera.png"), alt:"Agence Immobilière Saint Maur Des Fossés photographie votre bien immobilier", class:"picto img-responsive center-block") %>
		</div>
		<div class="col-md-6">
			<h5> <b>2- PHOTOGRAPHIES DE VOTRE BIEN</b></h5>
			<p style="color:#8f8e8e;"> La <b>photographie immobilière</b> est un service très important que je peux apporter à mes clients.</p>
			<p style="color:#8f8e8e;"> Je me suis donc équipé avec un <b>appareil photo haut de gamme</b>.</p>
			<p style="color:#8f8e8e;">Ce service est <b>offert gracieusement</b> à tous mes clients vendeurs que se soit pour un <b>mandat simple que pour un mandat exclusif</b>.</p>
		</div>
	</div>
	<div class="mb-50"></div>
	<div class="row">
		<div class="col-md-6">
			<h5> <b>3- ETABLISSEMENT D'UNE FICHE DESCRIPTIVE</b></h5>
			<p style="color:#8f8e8e;"> <b>La fiche descriptive</b> est très importante car elle permet aux acheteurs de <b>cerner le bien immobilier</b>.</p>
			<p style="color:#8f8e8e;"><b>Rien n'est oublié</b>. Les surfaces des pièces(prises par mes soins), les differentes taxes (charges, taxe foncière) ainsi que l'annonce commerciale qui sera aussi précise que professionnelle afin d'attirer <b>le plus de personnes qualifiées</b>.</p>
		</div>
		<div class="col-md-6">
			<%= image_tag(("browser.png"), alt:"Agence Immobilière Saint Maur Des Fossés etablit une fiche descriptive", class:"picto img-responsive center-block") %>
		</div>
	</div>
	<div class="mb-50"></div>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag(("search.png"), alt:"Agence Immobilière Saint Maur Des Fossés diffuse votre bien sur internet", class:"picto img-responsive center-block") %>
		</div>
		<div class="col-md-6">
			<h5> <b>4- MULTI DIFFUSION IMMOBILIERES</b></h5>
			<p style="color:#8f8e8e;"> Votre <b>annonce immobilière</b> est diffusé sur plus de <b>30 sites immobiliers </b>dont les plus grands (seloger.com, leboncoin.fr, logic-immo.com, ...).</p>
			<%= image_tag(("seloger-logo.png"), class:"mr-20") %>
			<%= image_tag(("leboncoin-logo.png"), class:"mr-20") %>
			<%= image_tag("logicimmo-logo.png") %>
		</div>
	</div>

</div>

<div class="container">
	<div class="row">
		<div class="col-md-5">
		<div class="mt-50"></div>
			Nous situer
		<div class="mt-50"></div>
		<h2 style="color:#484848; font-size:30px;">MANDATAIRE IMMOBILIER SAINT-MAUR-DES-FOSSES</h2>
		<p style="color:#8f8e8e;">Je me deplace à domicile. Mon experience professionnelle (18 ans d'immobilier sur la commune de Saint-Maur-Des-Fossés) me permet d'avoir une expertise professionnelle du métier d'agent immobilier.</p>
		</div>
	</div>
</div>
<%= render 'shared/map-home' %>