<% content_for :meta_title, "Alexandre Cordani - Curriculum vitae - " %>
<% content_for :meta_description, "Alexandre Cordani - Voici mon CV. Qui suis-je, mes reseaux sociaux, mes experiences." %>

<div class="container">
	<div class="row">
		<div class="col-md-4 col-xs-12 text-center">
			<%=image_tag("photo_identitee_alex.jpg", class:"image_rounded_big mt-30", alt:"Alexandre Cordani")%>
			
		</div>
		<div class="col-md-8 mt-70 hidden-xs">
			<table class='table borderless'>
				<tr>
					<th class="border-top-less">
						<i class="fa fa-globe fa-lg" aria-hidden="true"></i>
					</th>
					<th class="border-top-less">
						<h4 class="without_margin color_blue">SITE WEB</h4>
						<p>www.alexandrecordani.com</p>
					</th>
					<th class="border-top-less">
						<i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
					</th>
					<th class="border-top-less">
						<h4 class="without_margin color_blue">ADRESSE EMAIL</h4>
						<p>alcordani@gmail.com</p>
					</th>
				</tr>
				<tr>
					<th class="border-top-less">
						<i class="fa fa-phone fa-lg" aria-hidden="true"></i>
					</th>
					<th class="border-top-less">
						<h4 class="without_margin color_blue">PORTABLE</h4>
						<p>06 98 85 38 74</p>
					</th>
					<th class="border-top-less">
						<i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
					</th>
					<th class="border-top-less">
						<h4 class="without_margin color_blue">LINKEDIN</h4>
						<p><%= link_to "linkedin.com/in/alexandrecordani", "https://www.linkedin.com/in/alexandrecordani", target: "_blank", class: "color_black_to_link" %></p>
					</th>
				</tr>
				<tr>
					<th class="border-top-less">
						<i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
					</th>
					<th class="border-top-less">
						<h4 class="without_margin color_blue">INSTAGRAM</h4>
						<p><%= link_to "instagram.com/cordanialexandre", "https://www.instagram.com/immobilier_alexandre_cordani/", target: "_blank", class: "color_black_to_link" %></p>
					</th>
					<th class="border-top-less">
						<i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
					</th>
					<th class="border-top-less">
						<h4 class="without_margin color_blue">TWITTER</h4>
						<p><%= link_to "twitter.com/AlexandreCorda1", "https://twitter.com/AlexandreCorda1", target: "_blank", class: "color_black_to_link" %></p>
					</th>
				</tr>
			</table>
		</div>

	</div>
	<div class="row">
		<div class="col-md-4">
			<h1 class="name">ALEXANDRE CORDANI</h1>
			<h2 class="serial">SERIAL ENTREPRENEUR</h2>
		</div>
		<div class="col-md-8">
			<div class="experience">
				<h2 class="experiences"><i class="fa fa-suitcase fa-lg" aria-hidden="true"> EXPERIENCES</i></h1>
				<h4 class="subtitle-experiences"> MANY EXPERIENCES ... FOR A GOOD LIFE</h4>
				<% YAML.load(File.open("#{Rails.root}/db/data/experiences.yml")).each do |experience| %>
					<div class="france_immo">
						<h4 class="title-experiences"><%= experience['title'].upcase %></h4><p class="date-experiences"><%= experience['date'] %></p>
						<div class="mb-10"></div>
						<div class="experiences-img-content mb-20">
							<div class="col-md-2 hidden-xs">
								<%= image_tag("#{experience['logo']}", alt: "#{experience['alt']}", class:"style_image") %>
							</div>
							<div class="col-md-10">
								<p> <%= experience['details1'] %></p>
								<p> <%= experience['details2'] %> </p>
							</div>
						</div>
					</div>
					<div class="mb-30"></div>
				<% end %>
				
				<div class="mt-70"></div>
			</div>
			<h2 class="experiences"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"> EDUCATION</i></h1>
			<h4 class="subtitle-experiences"> EDUCATION IS VERY IMPORTANT</h4>
			<div class="row">
				<% YAML.load(File.open("#{Rails.root}/db/data/education.yml")).each do |education| %>
					<div class="col-md-2">
						<div class="date-education "><%= education['date'] %> </div>
						<div class="hidden-xs">
							<%=image_tag("#{education['logo']}", class:"logo-lewagon mt-30", alt: "#{education['alt']}")%>
						</div>
					</div>
					<div class="col-md-10"> 
						<p><%= education['detail1'] %></p>
						<p><%= education['detail2'] %></p>
						<p><%= education['detail3'] %></p>
						<p><%= education['detail4'] %></p>
						<p><%= education['detail5'] %></p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="mb-50"></div>