<div class="container">
	<div class="row">
		<div class="col-md-4">
			<%=image_tag("photo_identitee_alex.jpg", class:"image_rounded_big mt-30", alt:"Alexandre Cordani")%>
			
		</div>
		<div class="col-md-8 mt-70">
			<table class='table borderless'>
				<tr>
					<th class="border-top-less">
						<i class="fa fa-globe fa-lg" aria-hidden="true"></i>
					</th>
					<th class="border-top-less">
						<h4 class="without_margin color_blue">SITE WEB</h4>
						<p>www.alexandrecordani.com</p>
					</th>
					<th class="border-top-less">
						<i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
					</th>
					<th class="border-top-less">
						<h4 class="without_margin color_blue">ADRESSE EMAIL</h4>
						<p>alcordani@gmail.com</p>
					</th>
				</tr>
				<tr>
					<th class="border-top-less">
						<i class="fa fa-phone fa-lg" aria-hidden="true"></i>
					</th>
					<th class="border-top-less">
						<h4 class="without_margin color_blue">PORTABLE</h4>
						<p>06 98 85 38 74</p>
					</th>
					<th class="border-top-less">
						<i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
					</th>
					<th class="border-top-less">
						<h4 class="without_margin color_blue">LINKEDIN</h4>
						<p><%= link_to "linkedin.com/in/alexandrecordani", "https://www.linkedin.com/in/alexandrecordani", target: "_blank", class: "color_black_to_link" %></p>
					</th>
				</tr>
				<tr>
					<th class="border-top-less">
						<i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
					</th>
					<th class="border-top-less">
						<h4 class="without_margin color_blue">INSTAGRAM</h4>
						<p><%= link_to "instagram.com/cordanialexandre", "https://instagram.com/cordanialexandre", target: "_blank", class: "color_black_to_link" %></p>
					</th>
					<th class="border-top-less">
						<i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
					</th>
					<th class="border-top-less">
						<h4 class="without_margin color_blue">TWITTER</h4>
						<p><%= link_to "twitter.com/AlexandreCorda1", "https://twitter.com/AlexandreCorda1", target: "_blank", class: "color_black_to_link" %></p>
					</th>
				</tr>
			</table>
		</div>

	</div>
	<div class="row">
		<div class="col-md-4">
			<h1 class="name">ALEXANDRE CORDANI</h1>
			<h2 class="serial">SERIAL ENTREPRENEUR</h2>
		</div>
		<div class="col-md-8">
			<h1 class="experiences"><i class="fa fa-suitcase fa-lg" aria-hidden="true"> EXPERIENCES</i></h1>
			<h4 class="subtitle-experiences"> MANY EXPERIENCES ... FOR A GOOD LIFE</h4>
			<h4 class="title-experiences">RESPONSABLE COMMERCIAL FRANCE IMMOBILIER</h4><p class="date-experiences">2015-17</p>
			<p> France Immobilier La Varenne est une agence immobilière située dans la ville de Saint-Maur-Des-Fossés. Mon travail consistait à gérer la force commerciale composée de 2 à 3 négociateurs mais également de prospecter, et de vendre des biens immobiliers.</p>
			<p>J'ai également mis en place un système de photographies professionnelles. </p>
			<div class="mb-30"></div>
			<h4 class="title-experiences">GERANT DE L'AGENCE IMMOBILIERE VISITES EN VUES</h4><p class="date-experiences">2009-15</p>
			<p> Visites en Vues était une agence immobilière low-cost. J'ai créé cette agence, mis en place la politique commerciale.</p>
			<p>J'ai également géré la force de vente. </p>
			<div class="mb-30"></div>
			<h4 class="title-experiences">RESPONSABLE COMMERCIAL LAFORET IMMOBILIER ADAMVILLE</h4><p class="date-experiences">2001-08</p>
			<p> Je gérais l'agence immobilière située Place Kennedy à Saint-Maur-Des-Fossés. La force commerciale était composée de 3 négociateurs.</p>
			<div class="mt-70"></div>
			<h1 class="experiences"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"> EDUCATION</i></h1>
			<h4 class="subtitle-experiences"> EDUCATION IS VERY IMPORTANT</h4>
			<div class="row">
				<div class="col-md-2">
					<div class="date-education">2015</div>
					<%=image_tag("logo_lewagon.png", class:"logo-lewagon mt-30", alt:"logo-lewagon")%>
				</div>
				<div class="col-md-10">
					<p>Penser autrement, acquérir des compétences en codes qui vont me permettre de coder mes propres projets numériques.</p>
					<p>Le wagon m'a apporté un nouveau mindset.</p>
					<p>Penser comme un développeur, voir les problématiques sous un nouvel angle et libérer ma créativité grâce au code.</p>
					<p>9-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, git, GitHub, Heroku and Ruby on Rails. Designed, Implemented and Shipped to production a clone of AirBnB and a Rails prototype of a website.</p>
				</div>
			</div>
			<div class="mb-30"></div>
			<div class="row">
				<div class="col-md-2">
					<div class="date-education">1994</div>
				</div>
				<div class="col-md-10">
					<p>BTS Force de Vente</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mb-50"></div>