<% content_for :meta_title, "Alexandre Cordani - Agent Immobilier- Opportunity Manager - Photographe Immobilier - Developper Web Junior" %>
<% content_for :meta_description, "Alexandre Cordani - Visitez mon site personnel. Agent Immobilier - Opportunity Manager - Photographe immobilier - Developper Web Junior." %>

<div class="container">
	<div class="top">
		<div class="row">
			<div class="col-md-6">
				<div class="titre">
					<h1>Entrepreneur </h1>
					<h2>Agent Immobilier - Developpeur Ruby on Rails - Opportunity Manager</h2>
				</div>
				<div class="mt-100">
					<%= simple_form_for(@contact) do |f| %>
						<div class="container">
							<div class="row">
								<div class="col-md-2">
									<%= f.input :name, label: false, placeholder: 'Nom Prenom ', input_html: { class: 'no-border border-bottom' } %>
								</div>
								<div class="col-md-2">
									<%= f.input :phone, label: false, placeholder: 'Téléphone', input_html: { class: 'no-border border-bottom' } %>
								</div>
								<div class="col-md-2">
									<%= f.submit 'Me contacter', class:"navbar-wagon-button center " %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
				
			</div>
			<div class="col-md-6 hidden-sm hidden-xs">
				<%= image_tag(("moi.png"), class:"pl-270") %>
			</div>
		</div>
	</div>
</div>
<!-- <div class="content">
	<div class="container-fluid">
		<div class="container mt-100">
			<h3 class="rowHeader">Mes compétences</h3>
			<div class="row">
				
				<% YAML.load(File.open("#{Rails.root}/db/data/business.yml")).each do |business| %>
					<div class="col-md-4 col-xs-8 col-xs-offset-2 mb-30">
			   			<div class="card">
			       			<%= link_to "pages/#{business['link']}", class: "link_all" do %>
			   					<%= image_tag("#{business['image_file']}", alt: "#{business['alt']}") %>
			   					<p><%= business['profession'] %></p>
			   					
       						<% end %>
       					</div>
       				</div>
       				
      			<% end %>
      		</div>
				<div class="mb-50"></div>
 			</div>
 			<h3 class="rowHeader">Mes citations</h3>
 			
 			<div class="row">
	 			<div id="carousel">
	  				<div class="btn-bar">
	    				<div id="buttons">
	    					<a id="prev" href="#"><</a>
	    					<a id="next" href="#">></a>
	    				</div>
	    			</div>
	 				<div id="slides">
	        			<ul>
	 						<% YAML.load(File.open("#{Rails.root}/db/data/citations.yml")).each do |citation| %>
	            				<li class="slide">
	                				<div class="quoteContainer">
	                    				<p class="quote-phrase">
	 										<div class="col-md-10 col-xs-10">
	 											<h5> 
													<span class="quote-marks">"</span>
	 												<%= citation['citation'] %>
	 												<span class="quote-marks">"</span>
	 											</h5>
	 										</div>
											<div class="col-md-2"></div>
										</p>
	                				</div>
	                				<div class="authorContainer">
	                    				<p class="quote-author">
											<div class="col-md-8"></div>
					 						<div class="col-md-4">
					 							<%= citation['name'] %>
					 						</div>
										</p>
									</div>
	            				</li>
	            			<% end %>
	            		</ul>
	            	</div>
	            </div>
 			</div>
 			<div class="mt-30"></div>	
		</div>
	</div>		
</div>	 -->

<div class="container mt-100">
	<h3 class="rowHeader">Mes biens immobiliers à vendre</h3>
	
	<%= render 'shared/sales' %>
</div>

<%= render 'shared/map-home' %>


<%= render 'shared/site' %>
	
<%= render 'shared/contact' %>
<div class="col-md-6 col-md-offset-3">
	<% if current_user.try(:admin?) %>
		<h2 class="text-center fw-100">Import Lands</h2>
		<%= form_tag import_estimations_path, multipart: true do %>
			<span class="btn btn-large btn-warning btn-file">
				Choose File
				<%= file_field_tag :file %>
			</span>
			<%= submit_tag "Upload estimations", class: "btn btn-primary" %>
		<% end %>
	<% end %>
</div>





    
