<% content_for :meta_title, "Alexandre Cordani - Agent Immobilier- Opportunity Manager - Photographe Immobilier - Developper Web Junior" %>
<% content_for :meta_description, "Alexandre Cordani - Visitez mon site personnel. Agent Immobilier - Opportunity Manager - Photographe immobilier - Developper Web Junior." %>

<div class="container">
	<div class="top">
		<div class="row">
			<div class="col-md-6">
				<div class="titre">
					<h1>Entrepreneur </h1>
					<h2>Agent Immobilier - Developpeur Ruby on Rails - Opportunity Manager</h2>
				</div>
				<div class="mt-100">
					<%= simple_form_for(@contact) do |f| %>
						<div class="container">
							<div class="row">
								<div class="col-md-2">
									<%= f.input :name, label: false, placeholder: 'John Smith ', input_html: { class: 'no-border border-bottom' } %>
								</div>
								<div class="col-md-2">
									<%= f.input :phone, label: false, placeholder: '0698853874', input_html: { class: 'no-border border-bottom' } %>
								</div>
								<div class="col-md-2">
									<%= f.submit 'Me contacter', class:"navbar-wagon-button center " %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
				
			</div>
			<div class="col-md-6 hidden-sm hidden-xs">
				<%= image_tag(("moi.png"), class:"pl-270") %>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container-fluid">
		<div class="container mt-100">
			<h3 class="rowHeader">Mes compétences</h3>
			<div class="row">
				<% YAML.load(File.open("#{Rails.root}/db/data/business.yml")).each do |business| %>
			    	<div class="business">
			   			<div class="business-photo">
			      			<div class="col-md-4 col-xs-12 mb-50">
			       				<div class="card">
			       					<%= link_to "pages/#{business['link']}", class: "link_all" do %>
			       						<%= image_tag("#{business['image_file']}", alt: "#{business['alt']}") %>	
			       						<div class="card-hover">
			       							<p class="style_profession"><%= business['profession'] %></p>
			       						</div>
       								<% end %>
       							</div>
       							<p class="hidden-lg hidden-md"> <%= business['profession'] %> </p>
      						</div>
   						</div>
   					</div>
				<% end %>
				<div class="mb-50"></div>
 			</div>
 			<h3 class="rowHeader">Mes citations</h3>
 			
 			<div class="row">
	 			<div id="carousel">
	  				<div class="btn-bar">
	    				<div id="buttons">
	    					<a id="prev" href="#"><</a>
	    					<a id="next" href="#">></a>
	    				</div>
	    			</div>
	 				<div id="slides">
	        			<ul>
	 						<% YAML.load(File.open("#{Rails.root}/db/data/citations.yml")).each do |citation| %>
	            				<li class="slide">
	                				<div class="quoteContainer">
	                    				<p class="quote-phrase">
	 										<div class="col-md-10">
	 											<h5> 
													<span class="quote-marks">"</span>
	 												<%= citation['citation'] %>
	 												<span class="quote-marks">"</span>
	 											</h5>
	 										</div>
											<div class="col-md-2"></div>
										</p>
	                				</div>
	                				<div class="authorContainer">
	                    				<p class="quote-author">
											<div class="col-md-8"></div>
					 						<div class="col-md-4">
					 							<%= citation['name'] %>
					 						</div>
										</p>
									</div>
	            				</li>
	            			<% end %>
	            		</ul>
	            	</div>
	            </div>
 			</div>
 			<div class="mt-30"></div>
 			
		</div>
	</div>	
		
    </div>	
</div>
<div class="container">
	
	<% if @sales.exists %>
        <div class="mb-100 mt-100"></div>
		<div class="row">
		    <% @sales.each do |sale| %>
				<div class="col-md-4">
					<div class="sale-card" style="background-image: linear-gradient(135deg, rgba(150,109,105,0.2), rgba(150,109,105,0.4)), url('<%= cl_image_path sale.photos.first.path %>');">
		       			<div class="sale-card-header">
		       				<h3><%= sale.title %></h3>
		       				<br>
		       				<p><%= sale.city %></p>
		       			</div>
		       		</div>
				<%= link_to "", sale_path(sale), class: "card-link" %>
		        </div>
		    <% end %>
		</div>
	<% end %>
</div>
<div class="container">
	<div class="mt-100"></div>
	
</div>
 
<div class="container-fluid">			
	<div class="row">
        <div class="container-map">
     		<div id="map-home" class="hidden-xs" style="width: 100%; height: 400px;"></div>
            <div class="container-information">
            	<div class="section-info">
	                <div class="row">
	                    <div class="col-md-12">

	                        <p>Alexandre Cordani</p>
	                        <br>
	                        <p class="titre-coordonnees">Adresse</p>
	                        <div class="contact-form-infos">
	                        	<p>17 Av des Perdrix 94100 Saint-Maur-Des-Fossés</p>
	                        	<p>94210 La Varenne Saint-Hilaire</p>
	                        </div>
	                        <p class="titre-coordonnees">Téléphone</p>
	                        <p class="contact-form-infos">06 98 85 38 74</p>
	                        
	                    </div>
	                </div>
	            </div>
            </div>
        </div>
        

	</div>
	<div class="mb-50"></div>
</div>





    <% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      var styles = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]}]
      handler.buildMap({ provider: { scrollwheel: false, styles: styles }, internal: { id: 'map-home' } }, function(){
         markers = handler.addMarkers([
            {
              "lat": 48.7877442,
              "lng": 2.4938655999999355,
              "infowindow": "<h1></h1>"
            }
          ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
      });
    });
  </script>
<% end %>
