<% content_for :meta_title, "AGENCE IMMOBILIERE a saint maur des fosses" %>
<% content_for :meta_description, "Agence immobilière à domicile - Saint Maur Des Fossés - Mandataire Immobilier sur la commune de Saint-Maur-Des-Fossés et de La Varenne Saint-Hilaire dependant du reseau 3G Immobilier. Accompagnement total pour votre projet immobilier." %>


<div class="container">
	<div class="top">
		<div class="row">
			<div class="col-md-6">
				<div class="titre">
					<h1 style="font-size:28px;">Agent Immobilier à Saint Maur Des Fossés </h1>
					<h2>Mandataire Immobilier depuis plus de 17 ans sur Saint-Maur-Des-Fossés</h2>
					<h3>Engagé Exclusivement pour vous</h3>
					<h3>Au service d'une negociation immobilière réussie</h3>
				</div>
				<div class="mt-100">
					<%= simple_form_for(@contact) do |f| %>
						<div class="container">
							<div class="row">
								<div class="col-md-2">
									<%= f.input :name, label: false, placeholder: 'Nom Prenom ', input_html: { class: 'no-border border-bottom' } %>
								</div>
								<div class="col-md-2">
									<%= f.input :phone, label: false, placeholder: 'Téléphone', input_html: { class: 'no-border border-bottom' } %>
								</div>
								<div class="col-md-2 col-xs-12">
									<%= f.submit 'Me contacter', class:"navbar-wagon-button center " %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
				
			</div>
			<div class="col-md-6 hidden-sm hidden-xs">
				<%= image_tag(("moi.png"), class:"pl-270", alt:"Agence Immobilière Saint Maur Des Fossés") %>
			</div>
		</div>
	</div>
</div>


<% if @sales.count >=1 %>
	<div class="container mt-100">
		<h3 class="rowHeader">Mes derniers biens immobiliers A VENDRE</h3>
		
		<%= render 'shared/sales' %>
	</div>
<% end %>
<% if @sold.count >=1 %>
	<div class="container">
		<h3 class="rowHeader">Mes derniers biens immobiliers VENDUS</h3>
		<%= render 'shared/sold' %>
	</div>
<% end %>

<%= render 'shared/map-home' %>


<%= render 'shared/site' %>

<div class="container-fluid mt-40">
	<div class="color-section-reviews">
		<div class="container">
			<div class="row">
				<div>
					<%= prop :aggregateRating do %>
						<div class="col-md-6">
							<h3 class="rowHeader pt-20">Les mieux placés pour en parler, c'est vous.</h3>
						</div>
						<div class="col-md-2">
							<%= prop :image, image_tag(("google_place.png"), width:"150px", class:"pt-25") %>
						</div>
						<!-- <div class="col-md-4 pt-45">
							<div class="star-rating" data-score= <%= @avg_rating %> ></div>
							<div style="color:#F7F8FA;"><%= prop :ratingValue, @avg_rating %><%= prop :reviewCount, "13" %><%= prop :itemReviewed, "Alexandre Cordani" %></div>

						</div> -->
					<% end %>
				</div>
			</div>

        
			
			
			<%= render 'shared/google-reviews' %>
			<h5 class="text-center"> <a href="https://www.google.fr/search?q=Agence+Immobili%C3%A8re+Saint+Maur+Des+Foss%C3%A9s&ludocid=13232530376359719447&gws_rd=cr&dcr=0&ei=McY8Wt-QHMixUYHvopAB#lrd=0x47e60cef83ea39a7:0xb7a36444b27cb217,1">Voir d'autres avis</a></h4>
			<div class="mb-50"></div>
		</div>
	</div>
</div>

<%= render 'shared/bandeau' %>

<div class="container">
	<h3 class="rowHeader">Pourquoi investir sur Saint Maur ?</h3>
	<%= render 'shared/saintmaur' %>
</div>
<div class="mb-50"></div>


	
<%= render 'shared/contact' %>


<div class="col-md-6 col-md-offset-3">
	<% if current_user.try(:admin?) %>
		<h2 class="text-center fw-100">Import Lands</h2>
		<%= form_tag import_estimations_path, multipart: true do %>
			<span class="btn btn-large btn-warning btn-file">
				Choose File
				<%= file_field_tag :file %>
			</span>
			<%= submit_tag "Upload estimations", class: "btn btn-primary" %>
		<% end %>
	<% end %>
</div>

<% content_for(:after_js) do %>
	<script>
	    
	    $('.star-rating').raty({
	      path: '/assets/',
	      readOnly: true,
	      score: function() {
	        return $(this).attr('data-score');
	    }
	  });
	  </script>

  <% end %>






    
