<div class="container">
	<div class="top">
		<div class="row">
			<div class="col-md-6">
				<div class="titre">
					<h1>Entrepreneur </h1>
					<h2>Agent Immobilier - Developpeur Ruby on Rails - Opportunity Manager</h2>
				</div>
				<div class="mt-100">
					<%= simple_form_for(@contact) do |f| %>
						<div class="container">
							<div class="row">
								<div class="col-md-2">
									<%= f.input :name, label: false, placeholder: 'John Smith ', input_html: { class: 'no-border border-bottom' } %>
								</div>
								<div class="col-md-2">
									<%= f.input :phone, label: false, placeholder: '0698853874', input_html: { class: 'no-border border-bottom' } %>
								</div>
								<div class="col-md-2">
									<%= f.submit 'Me contacter', class:"navbar-wagon-button center " %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
				
			</div>
			<div class="col-md-6 hidden-sm hidden-xs">
				<%= image_tag(("moi.png"), class:"pl-270") %>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container-fluid">
		<div class="container mt-100">
			<h3 class="rowHeader">Mes compétences</h3>
			<div class="row">
				<div class="col-md-4 col-xs-12 mb-50">
					<div class="image">
						<%= link_to root_url do %>
	 						<%=image_tag("dev.jpg", class:"image_link", alt:"Developper Ruby Junior")%>
	 						<span class="text_image"><span>Developpeur Web Ruby Junior</span></span>
						<%end%>
					</div>

				</div>
				<div class="col-md-4 col-xs-12 mb-50">
					<%= link_to agent_immobilier_path do %>
 						<%=image_tag("immo.jpg",width: 350, height:200, class:"image_link", alt:"Agent Immobilier Saint Maur Des Fossés")%>
 						<span class="text_image"><span>Agent Immobilier </span></span>
					<%end%>
				</div>
				<div class="col-md-4 col-xs-12 mb-50">
					<%= link_to root_url do %>
 						<%=image_tag("opportunity.jpg",width: 350, height:200, class:"image_link", alt:"Opportunity Manager au sein de NL International, representant de la marque Beauty Sané")%>
 					<span class="text_image">Opportunity Manager Nl International</span>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>
