<% content_for :meta_title, "Alexandre Cordani - Agent Immobilier- Opportunity Manager - Photographe Immobilier - Developper Web Junior" %>
<% content_for :meta_description, "Alexandre Cordani - Visitez mon site personnel. Agent Immobilier - Opportunity Manager - Photographe immobilier - Developper Web Junior." %>

<div class="container">
	<div class="top">
		<div class="row">
			<div class="col-md-6">
				<div class="titre">
					<h1>Entrepreneur </h1>
					<h2>Agent Immobilier - Developpeur Ruby on Rails - Opportunity Manager</h2>
				</div>
				<div class="mt-100">
					<%= simple_form_for(@contact) do |f| %>
						<div class="container">
							<div class="row">
								<div class="col-md-2">
									<%= f.input :name, label: false, placeholder: 'John Smith ', input_html: { class: 'no-border border-bottom' } %>
								</div>
								<div class="col-md-2">
									<%= f.input :phone, label: false, placeholder: '0698853874', input_html: { class: 'no-border border-bottom' } %>
								</div>
								<div class="col-md-2">
									<%= f.submit 'Me contacter', class:"navbar-wagon-button center " %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
				
			</div>
			<div class="col-md-6 hidden-sm hidden-xs">
				<%= image_tag(("moi.png"), class:"pl-270") %>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container-fluid">
		<div class="container mt-100">
			<h3 class="rowHeader">Mes compétences</h3>
			<div class="row">
				<% YAML.load(File.open("#{Rails.root}/db/data/business.yml")).each do |business| %>
			    	<div class="business">
			   			<div class="business-photo">
			      			<div class="col-md-4 col-xs-12 mb-50">
			       				<div class="card">
			       					<%= link_to "pages/#{business['link']}", class: "link_all" do %>
			       						<%= image_tag("#{business['image_file']}", alt: "#{business['alt']}") %>	
			       						<div class="card-hover">
			       							<p class="style_profession"><%= business['profession'] %></p>
			       						</div>
       								<% end %>
       							</div>
       							<p class="hidden-lg hidden-md"> <%= business['profession'] %> </p>
      						</div>
   						</div>
   					</div>
				<% end %>
 			</div>
		</div>
	</div>		
</div>
