<div class="container">
	<div clas="row">
		<h1 class="title"><%= @samples.estimation %> Immobilière de votre <%= @samples.house %> </h1>
		<h3><%= @land.full_street_address.downcase %></h3>
	</div>
</div>

<div class="row">
		<div class="col-md-12">
			<div id="map" class="mb-30 mt-30" style="width: 100%; height: 600px;"></div>
			<p>La géolocalisation est approximative</p>
		</div>
	</div>	

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
		circle = [{lng: <%= @land.longitude %>, lat: <%= @land.latitude %>, radius: 200}]
     	circle_options = { strokeColor:"#FECC1F",strokeOpacity: 1, strokeWeight: 3, fillColor: 'transparent' }

      	var handler = Gmaps.build('Google');
      	handler.buildMap({ internal: { id: 'map' } }, function() {

      
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>