<div class="container">
	<div class="row">
		<div class="col-md-12">
		<h1>Prix immobilier à Saint-Maur-Des-Fossés</h1>
			<% if @prices.count >=1 %>
				<table data-toggle="table" class="table table-striped">
					<thead>
						<tr> 
							<th data-field="street" data-sortable="true">Rues </th>
							<th data-sortable="true">Quartiers
							<th>Voir<th>
							
						</th>
					</thead>
					<tbody>
						<% @prices.each do |price| %>
							<tr>
							
							<td><%= price.type_of_street %>
							<%= price.address %></td>
							<td><%= price.neighborhood %></td>
							<td><%= link_to "voir", price_path(price) %></td>
							<td>
								<% if current_user.try(:admin?) %>
               						<%= link_to "Effacer", price_path(price), method: :delete %>
               						<%= link_to "Modifier", edit_price_path(price) %>
              					<% end %>
              				</td>
							</tr>

							</p>
						<% end %>
					</tbody>
				</table>
			<% else %>
				<p> Il n' y a pas encore de rues renseignées. </p>
			<% end %>
		</div>
	</div>
	<% if current_user.try(:admin?) %>
		<div class="row">
			<div class="col-md-2 col-md-offset-5 mt-30">
				<%= link_to "Ajouter une rue" , new_price_path, class:"btn btn-danger mb-30"%>
			</div>
		</div>
	<% end %>
</div>


