<% content_for :meta_title, "Prix de vente de votre bien à #{@price.address}, #{@price.city} " %>

<% content_for :meta_description, "Vous trouverez sur cette page tous les prix immobiliers de vente de maisons ou d'appartement à #{@price.address}, #{@price.city}"%>


<div class="container">
	<div class="row">
		<div class="col-md-12 pt-20 text-center">
			<p class="fil_ariane"><%= link_to "Prix Immobilier", prices_path%> >> <%= link_to @price.city, prices_path %></p>
			<div class="price-title pt-20">
				Prix immobilier 
				<%= @price.address %>,
				<%= @price.city %><br>
				<% if @price.neighborhood != nil %>
					<%= @price.neighborhood %>
				<% end %>
			</div>

		</div>
	</div>
	<% if @price.price_min_apartment || @price.price_average_apartment || @price.price_max_apartment || @price.price_min_house || @price.price_average_house || @price.price_max_house != nil %>
		<div class="card">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-1">					
					</div>
					<div class="col-md-3">					
					</div>
					<div class="col-md-2 text-center">
						Prix m2 bas
					</div>
					<div class="col-md-2 text-center">
						Prix m2 moyen
					</div>
					<div class="col-md-2 text-center">
						Prix m2 haut
					</div>
				</div>
			</div>
			<div class="mb-30"></div>
			<% if @price.price_min_apartment && @price.price_average_apartment && @price.price_max_apartment != nil %>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="col-md-1">
							<i class="fa fa-building fs-40"></i> 
						</div>
						<div class="col-md-3 pt-8">
							Prix m2 appartement
						</div>
						<div class="col-md-2 text-center pt-8 price_mini_maxi">
							<%= @price.price_min_apartment %> €
						</div>
						<div class="col-md-2 text-center pt-8 price_average">
							<%= @price.price_average_apartment %> €
						</div>
						<div class="col-md-2 text-center pt-8 price_mini_maxi">
							<%= @price.price_max_apartment %> €
						</div>
					
					</div>
				</div>
			<% end %>
			<div class="mb-30"></div>
			<% if @price.price_min_house && @price.price_average_house && @price.price_max_house != nil %>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 mb-30">
						<div class="col-md-1">
							<i class="fa fa-home fs-40"></i> 
						</div>
						<div class="col-md-3 pt-8">
							</i> Prix m2 maison
						</div>
						<div class="col-md-2 text-center pt-8 price_mini_maxi">
							<%= @price.price_min_house %> €
						</div>
						<div class="col-md-2 text-center pt-8 price_average">
							<%= @price.price_average_house %> €
						</div>
						<div class="col-md-2 text-center pt-8 price_mini_maxi">
							<%= @price.price_max_house %> €
						</div>
					</div>
				</div>
			<% end %>
			<div class="row">
				<div class="col-md-2 col-md-offset-5">
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					  Estimer mon bien
					</button>
				</div>
			</div>
		
		<!-- Button trigger modal -->
				

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
				    	<div class="modal-header">
				        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        	<h4 class="modal-title" id="myModalLabel">Je souhaite une estimation de mon bien</h4>
				      	</div>
				      	<div class="modal-body">
				        	<%= simple_form_for @contact do |contact| %>
				        		<%= contact.input :name %>
				        		<%= contact.input :phone %>
				        		<%= contact.input :mail %>
				        		<%= contact.submit 'Me contacter', class:"navbar-wagon-button center " %>
				        	<% end %>
				      	</div>
				      	<div class="modal-footer">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        	<button type="button" class="btn btn-primary">Save changes</button>
				      	</div>
				    </div>
				</div>
			</div>
		</div>
	<% end %>
	<div class="row">
		<div class="col-md-12 mt-30">
			<% if @price.price_min_apartment && @price.price_average_apartment && @price.price_max_apartment != nil %>
				<p>Le prix moyen des appartements <%= @price.address %>
						 à 
						<%= @price.city %> est de <%= @price.price_average_apartment %> €, mais le prix moyen de <%= @price.city %> est de <%= @average_price_apartment.round() %>.</p>
			<% end %>
			<% if @price.price_min_house && @price.price_average_house && @price.price_max_house != nil %>
				<p>Le prix moyen des maisons <%= @price.type_of_street %>
						<%= @price.address %> à 
						<%= @price.city %> est de <%= @price.price_average_house %> €, mais le prix moyen de <%= @price.city %> est de <%= @average_price_house.round() %>.</p>
			<% end %>
		</div>
	</div>

	<div id="map" class="mb-30 mt-30" style="width: 100%; height: 600px;"></div>

	<div id="map2" class="mb-30" style="width: 100%; height: 600px;"></div>
	
	<div class="row">
		<h2 class="price-title mb-30">D'autres rues de <%= link_to @price.city, prices_path %></h2>
		<% if @random.count >= 5 %>	
			<% @random.each do |random| %>
				<div class="col-md-4">
					<p><%= link_to random.address, price_path(random) %></p>
				</div>
			<% end %>
		<% end %>
	</div>
		
	</div>
	

</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
		

      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {

      var polygons = handler.addPolygons(
    [
      [
        {lat:  48.80910333438192, lng: 2.46093213558197}, { lat: 48.81156919905202, lng: 2.4645504355430603},
        {lat:  48.81133957494126, lng:  2.4653135240077972}, { lat: 48.81108787038087, lng:  2.46546976268291475},
        {lat:  48.810958043324185, lng:  2.4654670804739}, { lat: 48.81080083732257, lng:  2.4653490632772446},
        {lat:  48.810545597315105, lng:  2.4651090055704117}, { lat: 48.81018790584499, lng:  2.4650439620018005},
        {lat:  48.809944, lng:  2.465221}, { lat: 48.809806, lng:  2.465714},
        {lat:  48.8101419, lng:  2.465725}, { lat: 48.810611, lng:  2.466170},
        {lat:  48.810852, lng:  2.4666103}, { lat: 48.810986, lng:  2.4669966},
        {lat:  48.81172, lng:  2.4685308}, { lat: 48.8118482, lng:  2.4687293},
        {lat:  48.81288333, lng:  2.46846109}, { lat: 48.812699, lng:  2.46886879},
        {lat:  48.81241350, lng:  2.469909489}, { lat: 48.81365696, lng:  2.471674382},
        {lat:  48.81434226, lng:  2.47247368}, { lat: 48.815801, lng:  2.4738630},
        {lat:  48.81346973, lng:  2.48015820}, { lat: 48.812579, lng:  2.48599469},
        {lat:  48.811272453, lng:  2.4920350313}, { lat: 48.81041046, lng:  2.4975925683},
        {lat:  48.810523517, lng:  2.503375411}, { lat: 48.8099088, lng:  2.509887814},
        {lat:  48.80965445, lng:  2.510907053}, { lat: 48.80942835, lng:  2.5136107206},
        {lat:  48.80882777, lng:  2.5169044733}, { lat: 48.80718143, lng:  2.519854903},
        {lat:  48.80658082, lng:  2.520273327}, { lat: 48.805619828, lng:  2.5211209058},
        {lat:  48.8045250, lng:  2.5222060}, {lat:  48.8009352, lng:  2.5227639},
        {lat:  48.7995783, lng:  2.5225922}, {lat:  48.7976419, lng:  2.5230857},
        {lat:  48.7969352, lng:  2.5234934}, {lat:  48.7965818, lng:  2.5237295},
        {lat:  48.7943484, lng:  2.5233861}, {lat:  48.7921008, lng:  2.5227639},
        {lat:  48.7905317, lng:  2.5218412}, {lat:  48.7887080, lng:  2.5202962},
        {lat:  48.7869267, lng:  2.5180861}, {lat:  48.7861067, lng:  2.5154039},
        {lat:  48.7850888, lng:  2.5126788}, {lat:  48.7843677, lng:  2.5109407},
        {lat:  48.7841839, lng:  2.5089881}, {lat:  48.7841133, lng:  2.5071427},
        {lat:  48.7844102, lng:  2.5025078}, {lat:  48.7845940, lng:  2.5006625},
        {lat:  48.7845515, lng:  2.4985596}, {lat:  48.7843960, lng:  2.4953624},
        {lat:  48.7840143, lng:  2.4921009}, {lat:  48.7840143, lng:  2.4885818},
        {lat:  48.7844667, lng:  2.4852130}, {lat:  48.7853574, lng:  2.4810931},
        {lat:  48.7865874, lng:  2.4769303}, {lat:  48.7874357, lng:  2.4749991},
        {lat:  48.7891799, lng:  2.4732610}, {lat:  48.7911873, lng:  2.4719307},
        {lat:  48.7943396, lng:  2.4716088}, {lat:  48.7973080, lng:  2.4708792},
        {lat:  48.7997391, lng:  2.4701926}, {lat:  48.8026223, lng:  2.4687978},
        {lat:  48.8045444, lng:  2.4680897}, {lat:  48.8075122, lng:  2.4636909},
        
      ]
    ],
    { strokeColor: '#33cccc'}
  );
        markers = handler.addMarkers(<%= raw @marker.to_json %>);
        handler.bounds.extendWith(markers);
        handler.bounds.extendWith(polygons);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
      $(document).on('ready', function() {

        pos = new google.maps.LatLng( <%= @price.latitude %>, <%= @price.longitude %> );

		var div = document.getElementById('map2');
		var sv = new google.maps.StreetViewPanorama(div);
		sv.setPosition( pos );
		sv.setVisible( true );

		// find the heading by looking from the google car pos to the venue pos
		var service = new google.maps.StreetViewService();
		service.getPanoramaByLocation( pos, 50, function(result, status) {
    	if (status == google.maps.StreetViewStatus.OK)
    		{
        		carPos = result.location.latLng;
        		heading = google.maps.geometry.spherical.computeHeading( carPos, pos );
        		sv.setPov( { heading: heading, pitch: 0, zoom: 1 } );
    	}
    	else {
    			console.log('Street View Noet Available');
  		}
		} );
     })
   <% end %>
<% end %>

