<% content_for(:meta_title) do %>
  Alexandre Cordani - <%= @post.metadata[:meta_title] %>
<% end %>

<% content_for(:description) do %>
  <%= @post.metadata[:description] %>
<% end %>

<% content_for(:image_url) do %>
  <%= asset_path "blog/#{@post.metadata[:thumbnail]}" if @post.metadata[:thumbnail] %>
<% end %>

<div style="overflow: hidden;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <article class="blog-post">
          <h1><%= @post.metadata[:meta_title].html_safe %></h1>
         <p><%= @post.metadata[:author].html_safe %>  écrit le <%= @post.metadata[:date].html_safe %>

          <hr>

          <%= raw @post.content %>
        </article>
      </div>
      <div class="col-md-12">
    <div class="horizontal-line"></div>
  </div>
  
  <div class="col-md-8 col-md-offset-2  text-center  ">
    <%= render 'sales/shared/conseiller' %>
  </div>
  
</div>
  <div class="mb-50"></div>
</div>
    </div>
  </div>
</div>
