<!-- SEO -->
<% content_for :meta_title, "Tous nos biens immobiliers à vendre ou vendus  " %>

<% content_for :meta_description, "Voici tous nos biens immobiliers à Vendre ou Vendus principalement en region parisienne"%>
<%= content_for(:facebook_meta_title) do %>
	<%= "Tous nos biens immobiliers à vendre ou vendus" %>
<% end %>
<%= content_for(:facebook_meta_description) do %>
	<%= "Voici tous nos biens immobiliers à Vendre ou Vendus principalement en region parisienne" %>
<% end %>

<!-- FIN SEO --> 

<% if current_user.try(:admin?) %> 
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Annonces Immobilières à Saint-Maur-Des-Fossés</h1>
				<% if @all_sales.count >=1 %>
					<table class="table table-striped">
						<thead>
							<tr> 
								<th>Biens Immobilier </th>
								<th>Phase</th>
								<th>Voir</th>
								<th>
									Modifier
								</th>
								<th>
									Effacer
								</th>

								<th>
									Nbre Partenaires
								</th>
							</tr>
						</thead>
						<tbody>
							<% @all_sales.each do |sale| %>
								<tr>
								
									<td>
										<%= sale.title %> à
										<%= sale.city %>
									</td>
									<td>
										<%= sale.phase %>
									</td>
									<td>
										<%= link_to "voir", sale_path(sale) %>
									</td>
									<td>
	               						<%= link_to "Effacer", sale_path(sale), method: :delete %>
	              					</td>

	              					<td>
	               						<%= link_to "Modifier", edit_sale_path(sale) %>
	              					</td>
	              					<td>
	              						<%= sale.link_partners.count %>
	              					</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				<% else %>
					<p> Il n' y a pas encore de biens à vendre. </p>
				<% end %>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<%= link_to "Ajouter une affaire" , new_sale_path, class:"btn btn-danger mb-30"%>
		</div>
	</div>
<% end %>



<div class="container">
	<h1>Toutes nos annonces de biens immobiliers à vendre</h1>
	<div class="row">
		<% @sales.each do |sales| %>
			<div class="col-md-4">
				<div class="sale-card" style="background-image: linear-gradient(135deg, rgba(150,109,105,0.2), rgba(150,109,105,0.4)), url('<%= cl_image_path sales.photos.first.path %>'); margin-bottom:30px;">
					<div class="ribbon">
						<% if sales.phase == "VENDU" %>
							<p>VENDU</p>
						<% elsif  sales.phase == "COMPROMIS" %>
							<p>COMPROMIS</p>
						<% else %>
							<p><%= sales.price %> €</p>
						<% end %>
  							
						</div>
					<div class="sale-card-header mt-80">
		       			<h3><%= sales.title %></h3>
		       			<br>
		       			<p><%= sales.city %></p>
		       		</div>	
					<%= link_to "", sale_path(sales), class: "card-link" %>
				</div>
			</div>
		<% end %>
	</div>
</div>

	
		<div 
