<div class="container">
	<div class="col-md-10">
		<h1 class="title"><%= @sale.title %></h1>	
	</div>
	<div class="col-md-2">
		<div class="label">
			<% if @sale.active == true %>
				A VENDRE
			<% else %>
				VENDU
			<% end %>
		</div>	
	</div>
		
	
	<div class="row">
		<div class="col-md-6">
			<% if @sale.photos.present? %>
				<%= cl_image_tag @sale.photos.first.path, width:400, crop: :fill, class:"photo_sale" %>
			<% end %>
		</div>
		<div class="col-md-6 justify">
			<%= @sale.description %>
		</div>
	</div>
	<div class="mb-50"></div>
	<div class="row">
			<h3>LES INFOS ESSENTIELLES</h3>
			<%= @sale.price %>€
	</div>
	<div class="mb-50"></div>
	<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 text-center">
		<% @sale.photos.each do |photo| %>
  			<p><%= cl_image_tag photo.path, width: 800, height: 600, crop: :fill, class:"photo_sale" %></p>
		<% end %>
	</div>
	
</div>